<!--sidebar-->
<c-sidebar #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed custom-sidebar"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/img/brand/logo.svg',
      width: 200,
      height: 46,
      alt: 'Logo'
    }"
    routerLink="./"
    class="custom-sidebar me-4"
  />

  <ng-scrollbar pointerEventsMethod="scrollbar">
    <c-sidebar-nav dropdownMode="close" class="mt-4">
      <li class="nav-item" (click)="setCurrentNavItem('Dashboard')">
        <a class="nav-link" routerLink="/dashboard">
          <img ngSrc="assets/img/icons/dashboard.svg" alt="dashboard" width="20" height="20" class="ms-2" >
          <span class="ms-4" [ngStyle]="{ 'color': currentNavItem === 'Dashboard' ? '#109CF1' : '#334D6E' }">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" (click)="setCurrentNavItem('Users')">
        <a class="nav-link" routerLink="/users">
          <img ngSrc="assets/img/icons/users.svg" alt="users" width="20" height="20" class="ms-2">
          <span class="ms-4" [ngStyle]="{ 'color': currentNavItem === 'Users' ? '#109CF1' : '#334D6E' }">Users</span>
        </a>
      </li>
      <li class="nav-item" (click)="setCurrentNavItem('My Leaves')">
        <a class="nav-link" routerLink="/Myleaves">
          <img ngSrc="assets/img/icons/myleaves.svg" alt="dashboard" width="24" height="24" class="ms-2">
          <span class="ms-4" [ngStyle]="{ 'color': currentNavItem === 'My Leaves' ? '#109CF1' : '#334D6E' }">My Leaves</span>
        </a>
      </li>
      <li class="nav-item" (click)="setCurrentNavItem('Leaves')" >
        <a class="nav-link" routerLink="/leaves" >
          <img ngSrc="assets/img/icons/leaves.svg" alt="leaves" width="24" height="24" class="ms-2">
          <span class="ms-4" [ngStyle]="{ 'color': currentNavItem === 'Leaves' ? '#109CF1' : '#334D6E' }">All Leaves</span>
        </a>
      </li>
      <li class="nav-item" (click)="setCurrentNavItem('Teams')">
        <a class="nav-link" routerLink="/teams" >
          <img ngSrc="assets/img/icons/teams.svg" alt="teams" width="24" height="24" class="ms-2">
          <span class="ms-4" [ngStyle]="{ 'color': currentNavItem === 'Teams' ? '#109CF1' : '#334D6E' }">Teams</span>
        </a>
      </li>
      <li class="nav-item" (click)="setCurrentNavItem('Calendar')">
        <a class="nav-link" routerLink="/" >
          <img ngSrc="assets/img/icons/calendar.svg" alt="calendar" width="20" height="20" class="ms-2">
          <span class="ms-4" [ngStyle]="{ 'color': currentNavItem === 'Calendar' ? '#109CF1' : '#334D6E' }">Calendar</span>
        </a>
      </li>
    </c-sidebar-nav>
  </ng-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
    class="custom-sidebar"
  />
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-2 d-print-none header header-sticky" position="sticky" sidebarId="sidebar"/>
  <!--app-breadcrumb-->
  <div class="horizontal-bar mb-5 m-lg-2">
    <p class="mt-3 m-lg-3"><span class="home">Home > </span> <span class="child"> {{ currentNavItem }}</span></p>
  </div>

  <!--app-body-->
  <div class="body flex-grow-1 px-2" style="background-color: #F5F6F8">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet></router-outlet>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer/>
</div>
