<div class="popup" alignment="center" *ngIf="isModalOpen">
  <div class="popup-content">
    <div class="mt-4 ms-3">
      <h2>Update Team</h2>
      <div class="close-button-container modal-header">
        <button class="btn btn-close" (click)="closePopup()"></button>
      </div>
    </div>
    <div>
      <hr>
      <form class="mt-lg-4" [formGroup]="equipeForm" (ngSubmit)="updateEquipe()">
        <div class="form-group ms-3">
          <input type="text" class="d-none form-control NameInput mt-1" name="id" formControlName="id">
          <label for="name" class="label-input">Name*</label>
          <input type="text" class="form-control NameInput mt-1" id="name" name="nom" formControlName="nom" placeholder="Enter team’s name">
          <div class="text-danger invalid-feedback" *ngIf="equipeForm.get('nom')?.touched">
            <div *ngIf="equipeForm.get('nom')?.hasError('required')">
              Champ requis.
            </div>
            <div *ngIf="equipeForm.get('nom')?.hasError('minlength')">
              Le nom doit contenir au moins {{ equipeForm.get('nom')?.getError('minlength')?.requiredLength }} caractères.
            </div>
            <div *ngIf="equipeForm.get('nom')?.hasError('maxlength')">
              Le nom doit contenir au plus {{ equipeForm.get('nom')?.getError('maxlength')?.requiredLength }} caractères.
            </div>
          </div>
        </div>
        <div class="form-group ms-3">
          <label for="description" class="label-input">Description*</label>
          <textarea class="form-control DescriptionInput mt-1" formControlName="description" id="description" name="description"
                    placeholder="Enter a description"></textarea>
          <div class="text-danger" *ngIf="equipeForm.get('description')?.touched">
            <div *ngIf="equipeForm.get('description')?.hasError('required')">
              Champ requis.
            </div>
            <div *ngIf="equipeForm.get('description')?.hasError('minlength')">
              Le nom doit contenir au moins {{ equipeForm.get('description')?.getError('minlength')?.requiredLength }} caractères.
            </div>
            <div *ngIf="equipeForm.get('description')?.hasError('maxlength')">
              Le nom doit contenir au plus {{ equipeForm.get('description')?.getError('maxlength')?.requiredLength }} caractères.
            </div>
          </div>
        </div>

        <div class="row align-items-center justify-content-between ms-1">
          <div class="col-7">
            <label for="manager" class="label-input">Select team's Manager*</label>
            <select class="form-control ManagerInput mt-1" id="manager" name="responsableId" formControlName="responsableId">
              <option *ngFor="let manager of respos" [class]="teamUpdated.responsableId==manager.id?'selected':''" [value]="manager.id">{{(manager.nom) | uppercase }} {{manager.prenom}}</option>
            </select>
            <div class="text-danger" *ngIf="equipeForm.get('responsableId')?.touched">
              <div *ngIf="equipeForm.get('responsableId')?.hasError('required')">
                Le Champ est requis!!!
              </div>
            </div>
          </div>
          <div class="col-4 me-3 mt-3">
            <label for="photo" class="text-center label-input">Image*</label>
            <div class="dropzone mt-1" [class]="selectedFile!=null ? 'uploadPhoto' : ''">
              <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" id="photo"/>
              <span class="text-success" *ngIf="selectedFile">{{selectedFile.name}}</span>
              <input type="file" class="upload-input " name="image" formControlName="image" (change)="onFileSelected($event)"/>
            </div>
            <div class="text-danger" *ngIf="equipeForm.get('image')?.touched">
              <div *ngIf="equipeForm.get('image')?.hasError('required')">
                Champ requis.
              </div>
            </div>
          </div>
        </div>
        <div class="row  justify-content-end" style="margin-top: 60px">
          <button type="reset" class="col-2 btn btn-reset me-3" (click)="closePopup()">Close</button>
          <button type="submit" [disabled]="equipeForm.invalid" class="col-2 btn btn-save me-5">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-team-success [showAlert]="showSuccesAlert" [check]="check" (closePopupEvent)="closeSuccessAlert()"></app-team-success>
