<div class="light-mode-info-message popup" *ngIf="showAlert" [@fade]  >
  <div class="content popup-content">
    <div class="title">
      <p class="text-1 mt-5">Unable to Delete Team</p>
    </div>
    <div class="icon mb-5 me-5">
      <img src="assets/img/icons/error.png"/>
    </div>
    <p class="text-3 mt-2">This team cannot be deleted as it contains members!!</p>
    <button class="button-light mb-4"  (click)="closeAlert()">
      <p class="text-4 mt-3" >OK</p>
    </button>
  </div>
</div>
