<!-- Button Add Team-->
<div class="row mb-5 justify-content-end me-1 mt-3">
  <button type="button" class="btn btn-right" (click)="showPopup = true">
    <img ngSrc="assets/img/icons/plus.svg" width="24" height="24" class="add-icon" alt="plus">
    <span>Add team</span>
  </button>
</div>


<!-- columns -->
<div class="row">
<!-- column 1-->
<div class="col-lg-3 col-md-6 mb-3">
    <div class="card">
      <img
        class="card-img-top img-responsive img"
        src="./assets/img/teams/t1.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">Testing</h4>
        <p class="card-text">
           &nbsp;Testing ...
        </p>
        <div class="team-members row align-items-center mb-2">
          <div class="col-9">
            <span class="member-count">Membres <span class="number">3</span></span>
          </div>
          <div class=" col-2 member-stack">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 1" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 2" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 3" height="200" width="200">
          </div>
        </div>
        <div class="row align-items-center justify-content-between me-1">
          <div class="col-6 row align-items-center">
            <div class="col-4">
              <button type="button" class="btn">
              <img ngSrc="assets/img/icons/delete-team.svg" alt="delete team" height="24" width="24">
                </button>
            </div>
            <div class="col-2">
              <button type="button" class="btn" (click)="showPopup1 = true">
              <img ngSrc="assets/img/icons/edit-team.svg" alt="edit team" height="24" width="23">
              </button>
            </div>
          </div>
          <div class="col-4 me-3">
            <button cButton class="button-discover"  (click)="showPopup2 = true">Discover</button>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- column 2-->
<div class="col-lg-3 col-md-6 mb-3">
    <div class="card">
      <img
        class="card-img-top img-responsive img"
        src="./assets/img/teams/t2.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">Securite</h4>
        <p class="card-text">
          &nbsp;Securite ...
        </p>
        <div class="team-members row align-items-center mb-2">
          <div class="col-9">
            <span class="member-count">Membres <span class="number">3</span></span>
          </div>
          <div class=" col-2 member-stack">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 1" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 2" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 3" height="200" width="200">
          </div>
        </div>
        <div class="row align-items-center justify-content-between me-1">
          <div class="col-6 row align-items-center">
            <div class="col-4">
              <button type="button" class="btn">
                <img ngSrc="assets/img/icons/delete-team.svg" alt="delete team" height="24" width="24">
              </button>
            </div>
            <div class="col-2">
              <button type="button" class="btn" (click)="showPopup1 = true">
                <img ngSrc="assets/img/icons/edit-team.svg" alt="edit team" height="24" width="23">
              </button>
            </div>
          </div>
          <div class="col-4 me-3">
            <button cButton class="button-discover"  (click)="showPopup2 = true">Discover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- column 3-->
<div class="col-lg-3 col-md-6 mb-3">
    <div class="card">
      <img
        class="card-img-top img-responsive img"
        src="./assets/img/teams/t3.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">Project Management</h4>
        <p class="card-text">
          &nbsp;Project management ...
        </p>
        <div class="team-members row align-items-center mb-2">
          <div class="col-9">
            <span class="member-count">Membres <span class="number">3</span></span>
          </div>
          <div class=" col-2 member-stack">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 1" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 2" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 3" height="200" width="200">
          </div>
        </div>
        <div class="row align-items-center justify-content-between me-1">
          <div class="col-6 row align-items-center">
            <div class="col-4">
              <button type="button" class="btn" >
                <img ngSrc="assets/img/icons/delete-team.svg" alt="delete team" height="24" width="24">
              </button>
            </div>
            <div class="col-2">
              <button type="button" class="btn" (click)="showPopup1 = true">
                <img ngSrc="assets/img/icons/edit-team.svg" alt="edit team" height="24" width="23">
              </button>
            </div>
          </div>
          <div class="col-4 me-3">
            <button cButton class="button-discover"  (click)="showPopup2 = true">Discover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- column 4-->
<div class="col-lg-3 col-md-6 mb-3">
    <div class="card">
      <img
        class="card-img-top img-responsive img"
        src="./assets/img/teams/t4.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">Development</h4>
        <p class="card-text">
          &nbsp;Development ...
        </p>
        <div class="team-members row align-items-center mb-2">
          <div class="col-9">
            <span class="member-count">Membres <span class="number">3</span></span>
          </div>
          <div class=" col-2 member-stack">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 1" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 2" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 3" height="200" width="200">
          </div>
        </div>
        <div class="row align-items-center justify-content-between me-1">
          <div class="col-6 row align-items-center">
            <div class="col-4">
              <button type="button" class="btn" >
                <img ngSrc="assets/img/icons/delete-team.svg" alt="delete team" height="24" width="24">
              </button>
            </div>
            <div class="col-2">
              <button type="button" class="btn" (click)="showPopup1 = true">
                <img ngSrc="assets/img/icons/edit-team.svg" alt="edit team" height="24" width="23">
              </button>
            </div>
          </div>
          <div class="col-4 me-3">
            <button cButton class="button-discover"  (click)="showPopup2 = true">Discover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- column 5-->
<div class="col-lg-3 col-md-6 mb-3">
    <div class="card">
      <img
        class="card-img-top img-responsive img"
        src="./assets/img/teams/t5.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">Web Development</h4>
        <p class="card-text">
          &nbsp;Web development ...
        </p>
        <div class="team-members row align-items-center mb-2">
          <div class="col-9">
            <span class="member-count">Membres <span class="number">3</span></span>
          </div>
          <div class=" col-2 member-stack">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 1" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 2" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 3" height="200" width="200">
          </div>
        </div>
        <div class="row align-items-center justify-content-between me-1">
          <div class="col-6 row align-items-center">
            <div class="col-4">
              <button type="button" class="btn">
                <img ngSrc="assets/img/icons/delete-team.svg" alt="delete team" height="24" width="24">
              </button>
            </div>
            <div class="col-2">
              <button type="button" class="btn" (click)="showPopup1 = true">
                <img ngSrc="assets/img/icons/edit-team.svg" alt="edit team" height="24" width="23">
              </button>
            </div>
          </div>
          <div class="col-4 me-3">
            <button cButton class="button-discover"  (click)="showPopup2 = true">Discover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- column 6-->
<div class="col-lg-3 col-md-6 mb-3">
    <div class="card">
      <img
        class="card-img-top img-responsive img"
        src="./assets/img/teams/t6.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">UI/UX Design</h4>
        <p class="card-text">
          &nbsp;UI/UX Design ...
        </p>
        <div class="team-members row align-items-center mb-2">
          <div class="col-9">
            <span class="member-count">Membres <span class="number">3</span></span>
          </div>
          <div class=" col-2 member-stack">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 1" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 2" height="200" width="200">
            <img ngSrc="./assets/img/avatars/image.png" alt="Membre 3" height="200" width="200">
          </div>
        </div>
        <div class="row align-items-center justify-content-between me-1">
          <div class="col-6 row align-items-center">
            <div class="col-4">
              <button type="button" class="btn" >
                <img ngSrc="assets/img/icons/delete-team.svg" alt="delete team" height="24" width="24">
              </button>
            </div>
            <div class="col-2">
              <button type="button" class="btn" (click)="showPopup1 = true">
                <img ngSrc="assets/img/icons/edit-team.svg" alt="edit team" height="24" width="23">
              </button>
            </div>
          </div>
          <div class="col-4 me-3">
            <button cButton class="button-discover"  (click)="showPopup2 = true">Discover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-team-pop-up [isModalOpen]="showPopup" (closePopupEvent)="closePopup()"></app-add-team-pop-up>
<app-update-team-pop-up [isModalOpen]="showPopup1" (closePopupEvent)="closePopup1()"></app-update-team-pop-up>
<app-discover-team  [isModalOpen]="showPopup2" (closePopupEvent)="closePopup2()"></app-discover-team>





