<button cButton (click)="showAlert=true">click</button>


<div class="light-mode-info-message popup" *ngIf="showAlert" >
  <div class="content popup-content">
    <div class="title">
      <p class="text-1 mt-4">Error Message</p>
    </div>
    <div class="icon mb-5 me-5">
      <img src="assets/img/icons/error.png"/>
    </div>
    <p class="text-3 mt-3">You can’t delete this request because its period already began !!!</p>
    <button class="button-light"  (click)="closeAlert()">
      <p class="text-4 mt-3" >Got it</p>
    </button>
  </div>
</div>
