<html lang="en">

<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<div >
  <img ngSrc="assets/img/brand/logo.svg" alt="logo" height="100" width="150" >
</div>
<body>
<section class="vh-80" style="background-color: #FAFAFA;">
  <div class="container py-2 h-80">
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card custom-shadow p-3" style="border-radius: 26px;">
          <div class="text-1 mb-3">
            <h1>Access Denied </h1>
            <div class="icon ms-1">
              <img src="assets/img/icons/warning.png" width="50" height="50"/>
            </div>
          </div>
          <div class="card-body row justify-content-center p-2 mt-1 " >
            <p class="col-10 text-center text-danger fw-bolder fs-2">
              Sorry, you do not have permission to access this page.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
