<c-row class="row mb-5 mt-4">
  <c-col sm="6" xl="3" class="custom-style1">
    <div class="ms-1 ">
      <p class="num m-0"> 20 </p>
      <p class="att">Manager</p>
    </div>
    <div class="ms-5 ps-4 mb-3 svg">
      <img ngSrc="assets/img/icons/manager.svg" alt="manager" width="87" height="86">
    </div>
  </c-col>

  <c-col sm="6" xl="3" class="custom-style2">
    <div class="ms-1">
      <p class="num m-0"> 100 </p>
      <p class="att">Employee</p>
    </div>
    <div class="ms-5 ps-5 mb-3 svg">
      <img ngSrc="assets/img/icons/employee.svg" alt="employee" width="45" height="82">
    </div>
  </c-col>

  <c-col sm="6" xl="3" class="custom-style3">
    <div class="ms-1">
      <p class="num m-0"> 5 </p>
      <p class="att">Request Leave</p>
    </div>
    <div class="ms-4 pe-3 mb-2 svg">
      <img ngSrc="assets/img/icons/leave.svg" alt="leave" width="73" height="80">
    </div>
  </c-col>

  <c-col sm="6" xl="3" class="custom-style4">
    <div class="ms-1 ">
      <p class="num m-0"> 10 </p>
      <p class="att">Team</p>
    </div>
    <div class="ms-5 ps-5  mb-3 svg">
      <img ngSrc="assets/img/icons/team.svg" alt="team" width="87" height="86">
    </div>
  </c-col>
</c-row>
