.custom-style1 {
  border-radius: 6px;
  background: #109CF1;
  box-shadow: 0px 6px 16px -4px rgba(58, 53, 65, 0.10), 0px 2px 12px -4px rgba(58, 53, 65, 0.08), 0px 2px 12px -4px rgba(58, 53, 65, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 293px;
  height: 154px;
  align-items: center;
  flex-shrink: 0;
}

.svg {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.num .att {
  display: flex;
  width: 236px;
  height: 124px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.num {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.att {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.custom-style2 {
  display: flex;
  width: 293px;
  height: 154px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  background: #F4B905;
  box-shadow: 0px 6px 16px -4px rgba(58, 53, 65, 0.10), 0px 2px 12px -4px rgba(58, 53, 65, 0.08), 0px 2px 12px -4px rgba(58, 53, 65, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.custom-style3 {
  display: flex;
  width: 293px;
  height: 154px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  background: #2ED47A;
  box-shadow: 0px 6px 16px -4px rgba(58, 53, 65, 0.10), 0px 2px 12px -4px rgba(58, 53, 65, 0.08), 0px 2px 12px -4px rgba(58, 53, 65, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.custom-style4 {
  display: flex;
  width: 293px;
  height: 154px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  background: #DC3545;
  box-shadow: 0px 6px 16px -4px rgba(58, 53, 65, 0.10), 0px 2px 12px -4px rgba(58, 53, 65, 0.08), 0px 2px 12px -4px rgba(58, 53, 65, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.row {
  display: flex;
  justify-content: flex-end;


}

.row > * {
  margin-right: 25px;
}

@media screen and (max-width: 1200px) {
  .custom-style1, .custom-style2, .custom-style3, .custom-style4 {
    margin-bottom: 20px;
  }
  .row{
    justify-content: center;
  }
}
